/* utility */
a:focus,
button:focus,
input:focus,
textarea:focus {
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

body {
    overflow-x: hidden;
}

.c-primary-black {
    color: #333 !important;
}

.c-primary-grey {
    color: #8d8d8d !important;
}

.border-radius-none {
    border-radius: 0 !important;
}

.border-radius-left-none {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.border-radius-right-none {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.border-left-none {
    border-left: 0 !important;
}

.border-right-none {
    border-right: 0 !important;
}

.border-top-none {
    border-top: 0 !important;
}

.border-bottom-none {
    border-bottom: 0 !important;
}

.c-primary-red {
    color: #e31f52 !important;
}

.c-primary-blue {
    color: #5650d8 !important;
}

.bg-primary-red {
    background: #e31f52 !important;
}

.c-primary-yellow {
    color: #ffc53e !important;
}

.c-primary-grey-second {
    color: #ddd !important;
}

.border-bottom-grey-1 {
    border-bottom: 1px solid #ddd;
}

.border-bottom-grey-2 {
    border-bottom: 1px solid #eee;
}

.border-bottom-grey-3 {
    border-bottom: 1px solid #f2f2f2;
}

.border-top-grey-1 {
    border-top: 1px solid #ddd;
}

.border-top-grey-2 {
    border-top: 1px solid #eee;
}

.border-top-grey-3 {
    border-top: 1px solid #f2f2f2;
}

.border-grey-1 {
    border: 1px solid #ddd;
}

.border-grey-2 {
    border: 1px solid #eee;
}

.bg-fafafa {
    background: #fafafa !important;
}

.py-15px {
    padding: 15px 0;
}

.text-decoration-none {
    text-decoration: none !important;
    color: unset !important;
}

.text-u-very-lg {
    font-size: 22px;
}

.text-u-lg {
    font-size: 18px;
}

.text-u-base {
    font-size: 16px;
}

.text-u-sm {
    font-size: 14px;
}

.text-u-xs {
    font-size: 13px;
}

.text-u-very-xs {
    font-size: 11px;
}

@media(max-width:576px) {
    .text-u-very-lg {
        font-size: 18px;
    }

    .text-u-lg {
        font-size: 16px;
    }

    .text-u-base {
        font-size: 14px;
    }

    .text-u-sm {
        font-size: 13px;
    }

    .text-u-xs {
        font-size: 12px;
    }

    .text-u-very-xs {
        font-size: 10px;
    }
}

@media(max-width:330px) {
    .text-u-very-lg {
        font-size: 17px;
    }

    .text-u-lg {
        font-size: 15px;
    }

    .text-u-base {
        font-size: 13px;
    }

    .text-u-sm {
        font-size: 12px;
    }

    .text-u-xs {
        font-size: 11px;
    }

    .text-u-very-xs {
        font-size: 9px;
    }
}

@media(max-width:280px) {
    .text-u-very-lg {
        font-size: 16px;
    }

    .text-u-lg {
        font-size: 14px;
    }

    .text-u-base {
        font-size: 12px;
    }

    .text-u-sm {
        font-size: 11px;
    }

    .text-u-xs {
        font-size: 10px;
    }
}

/* checkbox */
.checkbox-custom {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark-custom {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    border-radius: 3px;
    width: 20px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-custom~.checkmark-custom {
    background-color: #fff;
    border: 2px #bfbfbf solid;
}

/* When the checkbox is checked, add a blue background */
.checkbox-custom:checked~.checkmark-custom {
    background-color: #EC1E2B;
    border: none !important;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark-custom:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-custom:checked~.checkmark-custom:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkmark-custom:after {
    left: 6px;
    top: 3px;
    width: 9px;
    height: 11px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.container-checkbox {
    width: 20px;
    cursor: pointer;
    height: 20px;
    position: relative;
    padding-left: 28px;
    font-size: 13px !important;
    font-weight: normal !important;
    padding-top: 5px;
}

@media(max-width:576px) {
    .container-checkbox {
        width: 17px;
        height: 17px;
        padding-left: 20px;
    }

    .checkmark-custom {
        height: 17px;
        width: 17px;
    }

    .checkmark-custom:after {
        width: 7px;
        left: 5px;
        height: 9px;
    }
}

/* end checkbox */
.font-weight-500 {
    font-weight: 500;
}

.font-weight-600 {
    font-weight: 600;
}

.font-weight-normal {
    font-weight: normal;
}

.border-none {
    border: none !important;
}

.outline-none {
    outline: none !important;
}

.border-none:focus,
.outline-none:focus {
    outline: none !important;
    border: none !important;
}

body {
    font-family: 'Inter', sans-serif !important;
    background-color: #F5F5F5 !important;
    min-height: 100vh;
    height: 100%;
}

.cart-element .cart-header {
    padding: 20px 0;
    background: #f8f9fa !important;
}

.cart-element .cart-body {
    padding: 20px 0;
    background: #fff;
}

.cart-element .cart-body .cart-image-box img {
    width: 50px;
    height: 50px;
}

@media(max-width:567px) {
    .cart-element .cart-body .cart-image-box img {
        width: 45px;
        height: 45px;
    }
}

@media(max-width:330px) {
    .cart-element .cart-body .cart-image-box img {
        width: 42px;
        height: 42px;
    }
}

.text-product-eclipse {
    word-break: break-all;
    text-overflow: ellipsis;
    width: 100%;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    white-space: normal;
}

.cart-element .group-counter-cart {
    max-width: 200px;
    width: 100%;
}

@media(max-width:576px) {
    .cart-element .group-counter-cart {
        max-width: 130px;
    }
}

.cart-element .cart-body .cart-items {
    border-bottom: 1px solid #eee;
    padding: 15px 0;
}

.cart-element .cart-body .cart-items:last-child {
    border-bottom: 0 !important;
}

@media(min-width:992px) {
    .container-fluid {
        padding: 0 20px;
    }
}

.cart-element .cart-footer {
    padding-left: 30px;
}

@media(max-width:576px) {
    .cart-element .cart-footer {
        padding-left: 25px;
    }
}

.single-product-element .single-product-image img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.single-product-element .single-product-body {
    padding: 20px 10px 10px 15px;
    background-color: #fff;
}

@media(max-width:991px) {
    .single-product-element .single-product-image img {
        height: 200px;
    }
}

@media(max-width:576px) {
    .single-product-element .single-product-image img {
        height: 180px;
    }
}

@media(max-width:330px) {
    .single-product-element .single-product-image img {
        height: 200px;
    }
}

@media(max-width:280px) {
    .single-product-element .single-product-image img {
        height: 220px;
    }
}

.height-title-product-setting {
    height: 40px;
    margin-bottom: 10px;
}

@media(max-width:330px) {
    .height-title-product-setting {
        height: 40px;
        margin-bottom: 0 !important;
    }
}

.slick-track {
    margin-left: unset !important;
    margin-right: unset !important;
}

.slick-initialized .slick-slide {
    outline: none !important;
}

.image-single-brand {
    width: 70px;
    height: 70px;
    border-radius: 100px !important;
    display: block;
}

@media(max-width:991px) {
    .image-single-brand {
        width: 60px;
        height: 60px;
    }
}

@media(max-width:576px) {
    .image-single-brand {
        width: 55px;
        height: 55px;
    }
}

@media(max-width:330px) {
    .image-single-brand {
        width: 50px;
        height: 50px;
    }
}

.tabs-brand-custom .nav-item .nav-link {
    color: #cccccc !important;
}

.tabs-brand-custom {
    background: #fff !important;
    z-index: 3;
}

.tabs-brand-custom .nav-link:focus,
.nav-tabs .nav-link:hover {
    border: 0 !important;
}

.tabs-brand-custom .nav-item.show .nav-link,
.tabs-brand-custom .nav-link.active {
    background: transparent !important;
    border: 0 !important;
    border-bottom: 3px #0059b3 solid !important;
    color: #333 !important;
}

.shadow-product-card {
    box-shadow: 0px 0px 10px rgb(0 0 0 / 9%);
}

.grid-system-product {
    padding: 0 5px;
}

@media(max-width:575px) {
    .grid-system-product {
        width: 50% !important;
    }
}

@media(max-width:330px) {
    .grid-system-product {
        width: 100% !important;
    }
}

@media(max-width:575px) {
    .grid-system-statistik-brand.first {
        width: 30%;
    }

    .grid-system-statistik-brand.last {
        width: 70%;
    }
}

.statistik-brand-icon {
    background-color: #00cc00;
    border-radius: 100px;
    width: 30px;
    height: 30px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.categories-group {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.categories-group::-webkit-scrollbar {
    display: none;
}

.categories-group .categories-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 5px;
    width: 150px;
    text-decoration: none !important;
    text-align: center;
}

.categories-group .categories-element .categories-body {
    width: 140px;
}

@media(min-width:1820px) {
    .categories-group .categories-element {
        width: calc(100%/12);
    }

    .categories-group .categories-element .categories-body {
        width: 100%;
    }
}

.categories-group .categories-element img {
    background: #fff;
    width: 38px;
    height: 38px;
}

.categories-group .categories-element a {
    text-decoration: none !important;
    text-align: center;
}

.categories-group .categories-element .eclipse-categories {
    word-break: break-word;
    text-overflow: ellipsis;
    width: 100%;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    white-space: normal;
}

@media(max-width:991px) {
    .categories-group .categories-element {
        width: 120px;
    }

    .categories-group .categories-element .categories-body {
        width: 110px;
    }
}

.categories-recomended-group {
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 15px;
    position: sticky;
    z-index: 9;
    background-color: #fff;
    padding: 15px 0;
    top: 70px;
}

.categories-recomended-group::-webkit-scrollbar {
    display: none;
}

.categories-recomended-group .categories-recomended-element {
    display: flex;
    align-items: center;
    margin-right: 10px;
    padding: 0 !important;
    height: 50px;
    background: #fff;
    border: 1px #ddd solid;
    min-width: 120px;
    border-radius: 10px;
    vertical-align: middle;
}

.categories-recomended-group .categories-recomended-element div {
    word-break: break-word;
    text-overflow: ellipsis;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    white-space: normal;
    max-width: 200px;
    max-height: 50px;
    min-width: 120px;
    width: 100%;
    padding: 5px 10px;
}

.categories-recomended-group .categories-recomended-element.active {
    background-color: #5650d8 !important;
    color: #fff !important;
    font-weight: 600;
    border: 0 !important;
}

.subheader-home .img-subheader-home {
    width: 100%;
    max-width: 30px;
    max-height: 30px;
    border-right: 100px;
}

.subheader-home {
    padding: 10px 0;
    border: 1px #ddd solid;
    border-radius: 5px;
    margin-top: 15px;
    background: #f1f2f5;
}

.subheader-home .subheader-home-element {
    width: 50%;
    padding: 0 10px;
}

.subheader-home .subheader-home-element:first-child {
    border-right: 1px #ddd solid;
}

.subheader-home .subheader-home-element:last-child {
    border-left: 1px #ddd solid;
}

.navigation-bottom-mobile {
    position: sticky;
    z-index: 10;
    bottom: 0;
}

.navigation-bottom-mobile .navigation-bottom-group {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 5px 15px;
    background: #fff;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 10%);
}

a {
    text-decoration: none !important;
}

.navigation-bottom-mobile .navigation-bottom-group .navigation-bottom-element {
    background: transparent;
    color: #fff;
    border: 0 !important;
    outline: none !important;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navigation-bottom-mobile .navigation-bottom-group .navigation-bottom-element .text-navigation {
    padding-top: 7px;
    color: #8d8d8d;
}

.navigation-bottom-mobile .navigation-bottom-group .navigation-bottom-element .icon-navigation {
    color: #8d8d8d;
}

.navigation-bottom-mobile .navigation-bottom-group .navigation-bottom-element.active .text-navigation,
.navigation-bottom-mobile .navigation-bottom-group .navigation-bottom-element.active .icon-navigation {
    color: #e31f52 !important;
    font-weight: 600;
}

.single-product-element {
    position: relative;
}

.single-product-element .btn-whislist-single-product {
    background: black;
    position: absolute;
    opacity: 0.5;
    right: 10px;
    top: 10px;
    z-index: 8;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.single-product-element .btn-whislist-single-product .fa-heart {
    color: #fff !important;
    background: transparent !important;
}

.single-product-element .btn-whislist-single-product.active {
    background: #fff !important;
    opacity: 1 !important;
}

.single-product-element .btn-whislist-single-product.active .fa-heart {
    color: #e31f52 !important;
    background: transparent !important;
}

.image-review-person {
    width: 50px;
    height: 50px;
    border: 1px #e31f52 solid;
    border-radius: 100px;
}

.review-person-group .review-person-element:last-child {
    border-bottom: 0 !important;
}

.btn-first-option-product {
    background-color: #f2f2f2;
    color: #808080;
    border: 0 !important;
    padding: 5px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    box-shadow: unset !important;
}

.btn-second-option-product {
    border-radius: 5px;
    padding: 5px;
    border: 0 !important;
    box-shadow: unset !important;
    height: 40px;
    background-color: #e31f52 !important;
}

.navbar-fixed-group {
    display: flex;
    align-items: center;
    padding: 15px;
}

.navbar-fixed-group .navbar-fixed-group-left {
    color: #fff;
    font-weight: 600;
}

.navbar-fixed-group .navbar-fixed-group-center input {
    height: 45px;
    border: 0 !important;
    color: #808080;
    background: #fff;
}

.navbar-fixed-group .icon-input-nav {
    background: #fff;
    color: #e31f52 !important;
    height: 45px;
    width: 45px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.navbar-fixed-group .navbar-fixed-group-right .nav-item-right {
    padding: 10px;
    color: #fff;
}

.navbar-fixed-wrapper {
    transition: 0.5s;
    position: fixed;
    top: 0;
    left: 0;
}

.shadow-navbar-fixed-wrapper {
    background-color: #fff !important;
    transition: 0.5s;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 9%);
}

.shadow-navbar-fixed-wrapper .navbar-fixed-group .navbar-fixed-group-right .nav-item-right {
    color: #808080 !important;
    padding: 5px 7.5px !important;
}

.shadow-navbar-fixed-wrapper .navbar-fixed-group .navbar-fixed-group-center input {
    background: #f2f2f2;
}

.shadow-navbar-fixed-wrapper .navbar-fixed-group .icon-input-nav {
    background: #f2f2f2;
    color: #333 !important;
}

.shadow-navbar-fixed-wrapper .navbar-fixed-group .navbar-fixed-group-left {
    color: #e31f52 !important;
}

@media(max-width:991px) {
    .navbar-fixed-group .navbar-fixed-group-center input {
        height: 40px;
    }

    .navbar-fixed-group .icon-input-nav {
        height: 40px;
        width: 40px;
    }
}

.slider-banner img {
    width: 100%;
    height: 800px;
    object-fit: cover;
}

@media(max-width:991px) {
    .slider-banner img {
        height: 500px;
    }
}

@media(max-width:575px) {
    .slider-banner img {
        height: 300px;
    }
}

@media(max-width:991px) {
    .navbar-fixed-wrapper .navbar-fixed-group {
        padding: 15px 10px;
    }
}

.flashdeal-element .progress-flashdeal {
    display: inline-table;
    height: 8px;
    width: 100%;
    overflow: hidden;
    background-color: #ddd;
    border-radius: 4px;
}

.flashdeal-element .progress-flashdeal-bar {
    background-color: #318be3;
    float: left;
    height: 100%;
    line-height: 2;
    color: #fff;
    text-align: right;
    font-weight: 700;
    padding-right: 5px;
}

.header-flash-deal .image-flashdeal {
    width: 120px;
    height: 25px;
}

.header-flash-deal .counter-flashdeal {
    background-color: #e31f52 !important;
    color: #fff;
    padding: 3px 5px;
    font-weight: 500;
    text-align: center;
    margin-left: 10px;
    margin-right: 5px;
    border-radius: 5px;
    min-width: 65px;
    letter-spacing: 2px;
}

.bg-flashdeal {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0 0 15px 0;
    padding-left: 20px;
}

@media(max-width:991px) {
    .bg-flashdeal {
        padding-left: var(--bs-gutter-x, .75rem)
    }

}

.image-serbu-seru-header {
    width: 100%;
    height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

@media(max-width:991px) {
    .image-serbu-seru-header {
        height: 200px;
    }
}

@media(max-width:575px) {
    .image-serbu-seru-header {
        height: 150px;
    }
}

@media(max-width:420px) {
    .image-serbu-seru-header {
        height: 110px;
    }
}

.serbu-seru-subheader {
    background: #5650d8 !important;
    display: flex;
    justify-content: space-between;
    color: #fff !important;
    font-size: 13px;
    padding: 10px;
    text-decoration: none !important;
}

.serbu-seru-subheader span {
    font-weight: 600;
}

.serbu-seru-subheader a {
    color: #fff !important;
    text-decoration: none !important;
}

.serbu-seru-body {
    padding: 25px 0 25px 15px;
    border: 1px solid #eee;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.serbu-seru-element {
    border: 1px #eee solid;
    border-radius: 10px;
    margin-right: 10px;
}

.serbu-seru-element-image {
    width: 100%;
    height: 150px;
    border-bottom: 1px #eee solid;
    object-fit: cover;
}

.serbu-seru-element .price-serbu-seru {
    font-size: 15px;
    padding: 7.5px 5px;
    font-weight: 500;
}

@media(max-width:991px) {
    .serbu-seru-element-image {
        height: 130px;
    }

    .serbu-seru-element .price-serbu-seru {
        font-size: 14px;
    }
}

@media(max-width:575px) {
    .serbu-seru-element-image {
        height: 110px;
    }

    .serbu-seru-element .price-serbu-seru {
        font-size: 12px;
    }
}

@media(max-width:420px) {
    .serbu-seru-element .price-serbu-seru {
        font-size: 11px;
    }
}

@media(max-width:575px) {
    .header-flash-deal .image-flashdeal {
        width: 100px;
        height: 20px;
    }
}

.promo-header-background {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 130px;
}

@media(max-width:991px) {
    .promo-header-background {
        height: 120px;
    }
}

@media(max-width:575px) {
    .promo-header-background {
        height: 90px;
    }
}

.promo-wrapper {
    padding: 20px 0 15px 20px;
}

@media(max-width:991px) {
    .promo-wrapper {
        padding-left: var(--bs-gutter-x, .75rem);
    }
}

.categories-item-second-list {
    padding: 20px 0 15px 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.categories-item-second-list::-webkit-scrollbar {
    display: none;
}

.categories-item-second-element {
    width: 160px;
    height: 120px;
}

.categories-item-second-element img {
    width: 160px;
    height: 120px;
}

.tabs-brand-product-group .nav-tabs {
    display: flex;
    justify-content: space-between;
}

.tabs-brand-product-group .nav-tabs {
    border: 0 !important;
    padding-top: 10px;
}

.tabs-brand-product-group .nav-tabs .nav-item .nav-link {
    border: 0 !important;
    background: transparent !important;
}

.tabs-brand-product-group .nav-tabs .nav-item img {
    width: 30px;
    height: 30px;
}

.tabs-brand-product-group .nav-tabs .nav-item .nav-link.active img {
    width: 40px;
    border: 2px #5650d8 solid;
    border-radius: 5px;
    height: 40px;
}

.tabs-brand-product-group .nav-tabs .nav-item .nav-link {
    padding: 5px;
}

.tabs-brand-product-group .nav-tabs .nav-item:first-child .nav-link.active,
.tabcontent-product-brand .tab-pane:first-child {
    background: #03ecf4 !important;
}

.tabs-brand-product-group .nav-tabs .nav-item:nth-child(2) .nav-link.active,
.tabcontent-product-brand .tab-pane:nth-child(2) {
    background: #e93b6b !important;
}

.tabs-brand-product-group .nav-tabs .nav-item:nth-child(3) .nav-link.active,
.tabcontent-product-brand .tab-pane:nth-child(3) {
    background: #6a71b4 !important;
}

.tabs-brand-product-group .nav-tabs .nav-item:nth-child(4) .nav-link.active,
.tabcontent-product-brand .tab-pane:nth-child(4) {
    background: #666666 !important;
}

.tabs-brand-product-group .nav-tabs .nav-item:nth-child(5) .nav-link.active,
.tabcontent-product-brand .tab-pane:nth-child(5) {
    background: #262626 !important;
}

.tabcontent-product-brand .tab-pane {
    padding: 20px 0 0 20px;
}

@media(max-width:991px) {
    .tabcontent-product-brand .tab-pane {
        padding-left: var(--bs-gutter-x, .75rem);
    }
}

.promo-categories-element {
    border-radius: 5px;
}

.promo-categories-element img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
    display: block;
    margin: auto;
}

@media(max-width:575px) {
    .promo-categories-box {
        width: calc(100%/3);
        padding: 5px !important;
    }

    .promo-categories-box {
        margin-bottom: 10px !important;

    }

    .promo-categories-element img {
        width: 120px;
        height: 120px;
    }

}

@media(max-width:420px) {
    .promo-categories-box {
        width: calc(100%/3);
        padding: 3px !important;
    }

    .promo-categories-element img {
        width: 100%;
        height: 100px;

    }

    .promo-categories-group {
        padding: 0 10px;
    }

}

@media(max-width:320px) {
    .promo-categories-box {
        width: calc(100%/2);
        padding: 3px !important;
    }
}

.slider-banner-homepage img {
    max-width: 100% !important;
    height: auto !important;
    max-height: 600px;
    min-height: 200px;
}
.slider-banner-product-detail img {
    max-width: 100% !important;
    height: auto !important;
    max-height: 600px;
    min-height: 200px;
}

.btn-show-more-promo-header {

    position: absolute;
    background: #f2f2f2;
    bottom: 14px;
    border-radius: 5px;
    right: 15px;
    font-size: 10px;
    padding: 3px 5px;
    color: black;
}

.slick-slider-dots {
    position: absolute;
    bottom: 0px;
    left: 10px;
    display: flex;
}

.slick-slider-dots ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.slick-slider-dots ul li {
    margin: 0 4px;
}

.slick-slider-dots ul li button {
    background: #ddd;
    height: 15px !important;
    border-radius: 100px;
    width: 15px !important;
    overflow: hidden;
    color: #f2f2f2;
    border: none;
}

.slick-slider-dots ul li.slick-active button {
    background: #5650d8 !important;
    color: #5650d8 !important;
    border: 2px #fff solid;
}